<!DOCTYPE html>
<html>

<head>
    <title>Facename</title>
    <link rel="stylesheet" type="text/css" href="facename/facename.css">
    <link rel="script" type="text/javascript" href="/public/facename/facename.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="text-center mt-2">Facename Associative memory tasks</h1>
        </div>
        <div class="">
            <h2 class="current-display text-center pt-2">Recall the Faces</h2>
        </div>
        <div class="col justify-content-around">
            <div id="images1" class="mx-2 my-5 row justify-content-around">
            </div>
            <div id="images2" class="mx-2 my-5 row justify-content-around">
            </div>
        </div>
    </div>

    <script>
        var imagesDiv1 = document.getElementById("images1");
        var imagesDiv2 = document.getElementById("images2");

        function func(i1, i2, i3, i4, t) {
            var imageElement1 = document.createElement("img");
            var imageElement2 = document.createElement("img");
            var imageElement3 = document.createElement("img");
            var imageElement4 = document.createElement("img");

            imageElement1.src = "/facename/assets/" + i1;
            imageElement1.id = "im1";
            imageElement1.style = "padding: 3px; border: solid green; height: 350px; width: 430px; align: left;";

            imageElement2.src = "/facename/assets/" + i2;
            imageElement2.id = "im2";
            imageElement2.style = "padding: 3px; border: solid green; height: 350px; width: 430; align: left;";

            imageElement3.src = "/facename/assets/" + i3;
            imageElement3.id = "im3";
            imageElement3.style = "padding: 3px; border: solid green; height: 350px; width: 430; align: left;";

            imageElement4.src = "/facename/assets/" + i4;
            imageElement4.id = "im4";
            imageElement4.style = "padding: 3px; border: solid green; height: 350px; width: 430; align: left;";

            console.log("--", i1, i2, i3, i4, t);
            setTimeout(function() {
                imagesDiv1.appendChild(imageElement1);
            }, t)
            setTimeout(function() {
                imagesDiv1.appendChild(imageElement2);
            }, t)
            setTimeout(function() {
                imagesDiv2.appendChild(imageElement3);
            }, t)
            setTimeout(function() {
                imagesDiv2.appendChild(imageElement4);
            }, t)

            setTimeout(function() {
                document.getElementById("im1").remove();
            }, t + 2000);
            setTimeout(function() {
                document.getElementById("im2").remove();
            }, t + 2000);
            setTimeout(function() {
                document.getElementById("im3").remove();
            }, t + 2000);
            setTimeout(function() {
                document.getElementById("im4").remove();
            }, t + 2000);
        }

        var t = 0,
            i = 0;
        var itrLen = parseInt("<%= data.length %>");
        var img1, img2, img3, img4;

        <% for (let k = 0; k < data.length - (data.length % 4); k = k + 4) { %>
        img1 = "<%= data[k].imageID %>";
        img2 = "<%= data[k + 1].imageID %>";
        img3 = "<%= data[k + 2].imageID %>";
        img4 = "<%= data[k + 3].imageID %>";
        // console.log(img1, img2, img3, img4);
        // func(img1, img2, img3, img4, t);
        t += 2000;
        <% } %>
    </script>
</body>

</html>