<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <style>
    body {
      background-color: black;
    }
  </style>
</head>
<body>
  <h1>
    <span class="smallerFont">Results: </span><br><br>
  </h1>
  <style>
    h1 {
      color: #00FFFF;
      text-align: center;
    }

    .smallerFont {
        font-size: 150%;
    }

    th, td {
      color: cyan;
    }

    .title {
      align-items: right;
    }
    .score {
      align-items: center;
    }
  </style>
	  
  <table class="table table-borderless">
    <thead>
      <tr>
      <th  scope="col">#</th>
      <th  scope="col">Characteristics</th>
      <th  scope="col">Correct answers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th  scope="row">1</th>
        <td class="title">Names recalled immediately:</td>
        <td class="score"><%= results.cuedRecall_name%></td>
      </tr>

      <tr>
        <th  scope="row">2</th>
        <td class="title">Occupations recalled immediately:</td>
        <td class="score"><%= results.cuedRecall_affn%></td>
      </tr>

      <tr>
        <th  scope="row">3</th>
        <td class="title">Names recalled without cues:</td>
        <td class="score"><%=results.recallNames_1%></td>   
      </tr>

      <tr>
        <th  scope="row">4</th>
        <td class="title">Occupations recalled without cues:</td>
        <td class="score"><%= results.recallAffn_1 %></td>   		
      </tr>

      <tr>
        <th scope="row">5</th>
        <td class="title">Correct pairs of name and occupation recalled:</td>
        <td class="score"><%= results.cuedRecallAll_1%></td>
      </tr>

      <tr>
        <th  scope="row">6</th>
        <td class="title">Names recalled without cues (after break):</td>
        <td class="score"><%=results.recallNames_1%></td>   
      </tr>

      <tr>
        <th  scope="row">7</th>
        <td class="title">Occupations recalled without cues (after break):</td>
        <td class="score"><%= results.recallAffn_1 %></td>   		
      </tr>

      <tr>
        <th scope="row">8</th>
        <td class="title">Correct pairs of name and occupation recalled (after break):</td>
        <td class="score"><%= results.cuedRecallAll_1%></td>
      </tr>

    </tbody>
  </table>
  <br><br>
  <div class="col text-center">
    <button type="button" class="btn btn-info" onclick=redirectfn() style= "text-align: center">Success</button>
  </div>
</body>
<script>
  function redirectfn() {
    window.location.replace("/");
  }
</script>
</html>

			
            
			
            
			